<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- bean definitions here -->
    
   	<!-- c3po数据源 从propertites文件中读取-->
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    <property name="driverClass" value="${jdbc.driver}"/>
    <property name="jdbcUrl" value="${jdbc.url}"/>
    <property name="user" value="${jdbc.user}"/>
    <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--注册jdbc属性文件 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    
  
    <!-- 注册SessionFactory -->
    <bean id="mySessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="packagesToScan" value="com.ms.system.entity,com.ms.business.**.entity"/>
    <property name="hibernateProperties" >
    <props>
    	<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
    	<prop key="hibernate.hbm2ddl.auto">update</prop>
    	<prop key="hibernate.show_sql">false</prop>
    	<prop key="hibernate.format_sql">true</prop>
    	<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</prop>
    </props>
    </property>
   <!--  <property name="mappingDirectoryLocations" value=""/> -->
    </bean>
   
  <!-- 注册事务管理器 -->
   <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
   <property name="sessionFactory" ref="mySessionFactory"></property>
   </bean>
  
   <!-- 组件扫描器  action、service、dao 里面对象的注入到依赖扫描器-->
  <context:component-scan base-package="com.ms.*"></context:component-scan>
  <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
  
  <import resource="classpath*:/shiro.xml" />
</beans>
